body {
	font-family: 'Lora', serif;
	background-color: #E8E8E8;

	min-height: 100%;
	
	overflow-y: scroll;
	color: #F7F2C8;
}
#loginbtn {
	float: right;
	margin-right: 10px;
	background-color: black;
	color: #F7F2C8;
	border: none;
}
.topbar {
	width: 100%;
	height: 50px;
		background-image:url('img/pattern1.png');
	background-color: #222;
	font-family: 'Lora', serif;
	/*position:fixed;*/
	z-index: 1;
	font-size: 17px;
	padding-top: 15px;
}
#back{
		width: 290px;
		min-height: 279px;
		
}
#color1{
		width: 300px;
		min-height: 279px;
		background-color:#5cb85c;
		
}
#leftwrap{
	margin-top:70px;
}
#logo{ 
	

     filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
        filter: gray; /* IE6-9 */
        -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}
#ybtn {
	margin-left: 50px;
}
#nbtn {
	margin-left: 10px;
}
.leftnavigation {
	height: 100%;
	background-color: black;
	width: 250px;
	overflow: hidden;
	margin-right: 200px;
	bottom: 0;
	background-image:url('img/pattern1.png');
	position: fixed;
}

#centercontent {
	min-height: 1000px;
	dipslay: inline;
	width: 900px;
	height: auto;
	color: black;
	margin: 0 auto;
}
#centercontent p {
color:black;
}


#centercontent li {
	list-style-type: none;
}





.btnwrap3{
	display:inline-block;
	width:200px;
}
.row {
		display: inline-block;
		padding:12px;
}
.row img {
		width:auto;
		height:50px;
}
.thumbnail {
		max-width:280px;
}
#mod{
	float:right;
	margin-top:-35px;
	margin-right:5px;
	padding:5px;
}
#mod p, h4{
	padding:30px;
}
#rmv{
	float:right;
	margin-top:-20px;
	margin-right:-10px;
}
.caption ul,h3,p{
	color:white;
}
#back{
		width: 290px;
		min-height: 279px;
		
}

		
#color2{
		width: 300px;
		min-height: 279px;
		background-color:#f0ad4e;
		}
#color3{
		width: 300px;
		min-height: 279px;
		background-color:#428bca;
		}
		
		
.footer {
	float: right;
	text-align: right;
	margin: 0 auto;
	bottom: 0;
	top:100%;
	width: 100%;
	background-color: black;
		background-image:url('img/pattern1.png');
		
}




i.ion-ios7-bell {
	font-size: 16px;
}

.navbar-inverse {
	background-color: #000000
}

.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>li>a:focus
	{
	background-color: #141414
}

.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a:focus
	{
	background-color: #080808
}

.dropdown-menu {
	background-color: #000000
}

.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus {
	background-color: #CA631E
}

.navbar-inverse {
	background-image: none;
}

.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus {
	background-image: none;
}

.navbar-inverse {
	border-color: #080808
}

.navbar-inverse .navbar-brand {
	color: #999999
}

.navbar-inverse .navbar-brand:hover {
	color: #FFFFFF
}

.navbar-inverse .navbar-nav>li>a {
	color: #999999
}

.navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>li>a:focus
	{
	color: #DBDBDB
}

.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a:focus
	{
	color: #FFFFFF
}

.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>.active>a:focus
	{
	color: #FFFFFF
}

.dropdown-menu>li>a {
	color: #C7C7C7
}

.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus {
	color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
	border-top-color: #999999
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
	border-top-color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
	border-bottom-color: #999999
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
	border-bottom-color: #FFFFFF
}





a {
	color: #F7F2C8;
}

a:hover {
	
}


#center {
	margin: 0 auto;
	background-color: #000000;
	background-image: url('img/plank.png');
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	height: 1500px;
	width: 1000px;
	position: relative;
	top: 95px;
}

#center .menu {
	width: 100%;
	height: 50px;
	background-position: center;
	background-repeat: no-repeat;
}

#center .banner {
	width: 100%;
	height: 300px;
	border-top: 5px solid #F7F2C8;
	background-image: url('img/gb.jpg');
	background-repeat: no-repeat;
	background-position: center;
}

#center .ornament img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#center .content {
	width: 600px;
	margin: 0 auto;
	height: 400px;
	word-break: break-all;
	position: relative;
	padding-top: 20px;
	color: #F7F2C8;
}

#bs-example-navbar-collapse-1 {
	text-align: center;
	margin: 0 auto;
}

#textarea {
	margin: 0 auto;
	max-width: 400px;
	max-height: 100px;
	min-height: 100px;
	min-width: 400px;
	height: 500px;
	margin-top: 60px;
}

#name {
	float: left;
	width: 250px;
	margin-left: 50px;
}

body.modal-open {
	overflow-y: scroll;
	margin: 0;
	color: black;
}

.hh {
	margin-left: 50px;
	padding-bottom: 20px;
}

#btn {
	margin-left: 50px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.btnwrapper {
	padding-top: 25px;
	padding-bottom: 25px;
}



#del {
	text-align: center;
}

#btnwrap2 {
	padding-top: 10px;
	padding-bottom: 25px;
}

.modal {
	overflow: auto;
}

.modal {
	overflow-y: auto;
}

.modal-open[style] {
	padding-right: 0px !important;
}

.modal-dialog {
	width: 500px;
}

.form-group {
	padding-right: 20px;
	padding-left: 20px;
	margin-top: 10px;
}

#deletebtn {
	background-color: #9F0F0F;
	border: 0.5px solid black;
}
.jumbotron p{
	color:black;
}
.feedback {
	text-align: center;
	padding-bottom: 50px;
}

.pizzawrapper {
	height: auto;
	width: 600px;
	
}

.pizzawrapper li {
	list-style-type: none;
	display: inline;;
}

.ord {
	margin-left: 100px;
}

.buttonwrapper {
	margin-left: 365px;
	margin-top: -10px;
}

#btn2{
	background-color:#afd7af;
	border:none;
}

#btn3{
	background-color:#f5d09b;
	border:none;
}

#btn4{
	margin-top:57px;
	border:none;
}

#logo:hover{
	filter:none;
	-webkit-filter:grayscale(0%);
	-moz-transition: all 0.5s ease-in-out;	/* feidaus, ei toimi */
	-o-transition: all 0.5s ease-in-out;	
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	
}

}
.info {
	display: inline-block;
	width: 400px;
	height: 100px;
	margin-top: 5px;
	margin-left: 20px;
	word-break: break-all;
}

.contactwrapper {
	text-align: center;
	height: 800px;
	width: 600px;
}

.imglogo {
	margin-left: 20px;
	margin-top: -50px;
	border: 2px solid #F7F2C8;
}

.pizzaclass {
	margin-left: 20px;
	margin-top: 5px;
	border: 2px solid #F7F2C8;
}

@media only screen and (max-width:1500px) {
	.leftnavigation {
		width: 220px;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}
}

@media only screen and (max-width:1450px) {
	.leftnavigation {
		width: 200px;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}
}

@media only screen and (max-width:1350px) {
	.leftnavigation {
		width: 160px;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}
}

@media only screen and (max-width:1300px) {
	.leftnavigation {
		width: 120px;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}
}

@media only screen and (max-width:1150px) {
	#centercontent h1,p {
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
		margin-left: 100px;
	}
	#addbtn {
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}
	.leftnavigation {
		width: 80px;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}
}
