/* 
████████╗██╗ ██████╗ ██████╗ ██╗     ██╗ ██████╗██╗ ██████╗ ██╗   ██╗███████╗
╚══██╔══╝██║██╔════╝██╔═══██╗██║     ██║██╔════╝██║██╔═══██╗██║   ██║██╔════╝
   ██║   ██║██║     ██║   ██║██║     ██║██║     ██║██║   ██║██║   ██║███████╗
   ██║   ██║██║     ██║   ██║██║     ██║██║     ██║██║   ██║██║   ██║╚════██║
   ██║   ██║╚██████╗╚██████╔╝███████╗██║╚██████╗██║╚██████╔╝╚██████╔╝███████║
   ╚═╝   ╚═╝ ╚═════╝ ╚═════╝ ╚══════╝╚═╝ ╚═════╝╚═╝ ╚═════╝  ╚═════╝ ╚══════╝
   Antti Eloranta, Heini Haatanen, Tanja Partanen, Péter Takács, Samu Tapanen
   2014
   
  Asiakaspuolen css-tyylit muokattu bootstrapista.
    */
body {
	font-family: 'Lora', serif;
	background-image: url('img/bg.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	min-height: 100%;
	background-size: cover;
	overflow-y: scroll;
	color: #F7F2C8;
}

.active {
	border-bottom: 1px solid #F7F2C8;
}

.btn {
	margin-top: -20px;
	margin-left: -12px;
	
}
.infofield{
	margin-left:100px;
	margin-top:100px;
}
#regbtn {
	color: #F7F2C8;
	float: right;
	background-color: black;
	border: 1px solid black;
	margin-top: -27px;
}

#close {
	float: right;
	border: none;
	margin-top: -40px;
	margin-right: -15px;
}

#loginbtn {
	margin-right: 10px;
	float: right;
	margin-top: -27px;
	background-color: black;
	color: #F7F2C8;
	border-right: 1px solid #F7F2C8;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-radius: 0px;
}
#list-mod{
	color:black;
	text-align:center;
	max-width:500px;
	margin:0 auto;
}
#navigation {
	width: 100%;
	height: 50px;
	background-image: url('img/plank.png');
	font-family: 'Lora', serif;
	position: fixed;
	z-index: 1;
	font-size: 17px;
}

a {
	color: #F7F2C8;
}

a:hover {
	
}

.feedbackwrap {
	background-color: red;
	margin-right: 150px;
}

#navigation ul {
	list-style-type: none;
	margin: 0 auto;
	text-align: center;
	margin-top: 12px;
}

#navigation li {
	display: inline;
	padding-left: 45px;
	padding-right: 45px;
}

#navigation li a:hover {
	color: #FBEE79;
	text-decoration: none;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#center {
	margin: 0 auto;
	background-color: #000000;
	background-image: url('img/plank.png');
	background-position: center;
	background-repeat: no-repeat;
	width: 1000px;
	position: relative;
	top: 95px;
	height: auto;
}


#center .menu {
	width: 100%;
	height: 50px;
	background-position: center;
	background-repeat: no-repeat;
}

#center .banner {
	width: 100%;
	height: 300px;
	border-top: 5px solid #F7F2C8;
	background-image: url('img/gb.jpg');
	background-repeat: no-repeat;
	background-position: center;
}

#center .banner2 {
	width: 100%;
	height: 300px;
	background-image: url('img/shopping.png');
	background-repeat: no-repeat;
	background-position: center;
}
#cartimg{
	float:right;
	margin-right:80px;
	margin-top:-25px;
	display:inline-block;
	opacity:0.9;
}

.col-sm-2 control-label{
	width:
}
.contentlink{
	float:right;
	margin-right:90px;    
	margin-top:-40px;
}
.pricepanel{
	width:400px;
	height:auto;
	margin:0 auto;
	text-align:center;
}
#center .ornament img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#cashout{
	margin-top:20px;
	margin-left:80px;
}
#cash{
	text-align:center;
}
#cash h2{
	padding-bottom:30px;
}

#rmv{
	float:right;
}
#sure-btn{
	margin-left:365px;
	margin-top:40px;
	
}
#dpbtn{
	margin-left:60px;
	margin-top:2px;
}
.contentwhite{
	width:100%;
	height:auto;
	background-color:white;
	color:black;
	padding:30px;
	text-align:left;
	min-height:200px;
	overflow:auto;
}
.cent{
	text-align:center;
}
.mvm{
	margin-left:100px;
}
#center .content {
	width: 800px;
	margin:0 auto; !important;
	height:auto;
	padding-bottom: 90px;
	position: relative;
	padding-top: 20px;
	color: #F7F2C8;
	
}

.cartwrap{
	width:300px;
	float:left;
	height:auto;
	
}

#center .content p {
	padding: 10px;
}
#sign{
	
	margin-left:5px;
	display:inline-block;
}
#confirmation{
	margin-top:20px;
	margin-left:20px;
}
#infotext{
	margin-left:230px;
	display:inline-box;
	margin-top:-390px;
	word-break:none;
	width:160px;
	
}
#formwrapper{
	width:400px;
	height:auto;
	background-color:white;
	margin-left:197px;
	
	background-color:transparent;
}
#formwrapper input{
	color:black;
}
#bs-example-navbar-collapse-1 {
	text-align: center;
	margin: 0 auto;
}

#textarea {
	margin: 0 auto;
	max-width: 600px;
	max-height: 600px;
	min-height: 400px;
	min-width: 600px;
	height: 500px;
	margin-top: 60px;
}

body.modal-open {
	overflow-y: scroll;
	margin: 0;
	color: black;
}

.modal {
	overflow: auto;
}

.modal {
	overflow-y: auto;
}

.modal-open[style] {
	padding-right: 0px !important;
}

.modal-dialog {
	width: 500px;
}

.form-group {
	padding-right: 20px;
	padding-left: 20px;
	margin-top: 10px;
}

#name {
	width: 300px;
	margin-top: 20px;
}

.feedback {
	text-align: center;
	padding-bottom: 50px;
}

.pizzawrapper {
	height: 180px;
	width: 600px;
	padding-bottom: 5px;
	border-bottom: 1px solid #F7F2C8;
	height: auto;
	position:relative;
	margin:0 auto;
}

#rmb {
	padding-bottom: 15px;
}

#price {
	float: right;
	margin-top: -40px;
	margin-right: 30px;
}



.ord {
	margin-left: 100px;
}

.buttonwrapper {
	
	/*margin-left: 100px;*/
	float:right;
	margin-top:-10px;
	
	padding-bottom:0px;
}

.info {
	display: inline-block;
	width: 400px;
	height: 100px;
	margin-top: 5px;
	margin-left: 20px;
	word-break: break-all;
}

.contactwrapper {
	margin:0 auto;
	text-align: center;
	height: 800px;
	width: 600px;
}

.imglogo {
	margin-left: 20px;
	margin-top: -50px;
	border: 2px solid #F7F2C8;
}

.pizzaclass {
	margin-left: 20px;
	margin-top: 5px;
	border: 2px solid #F7F2C8;
}